<div class="modal-overlay"></div>
<div class="modal">
  <span class="close-cart">&times;</span>
  <div class="modal-inner">
    <h1>Shopping Cart</h1>
    <ul class="cart-contents">
      <% if (cart) { %>
        <% cart.forEach(function(item) {%>
          <li class="item">
            <span class="book-title-span">
              <%=item.title%>
            </span>
            <input class="cart-book-count" type="number" id='book<%=item.id%>' value=<%=item.quantity%>>
            </input>
            <span class="cart-book-price">
              $<%=item.price%>
            </span>
            <button class="remove-from-cart" id='book<%=item.id%>'>
              X
            </button>
        <% }) %>
      <% } %>
    </ul>
  </div>
  <span class="total">Total: $0.00</span>
</div>
